{% extends "mastertemplate.html" %}

{% block title %}
Add a new vehicle details
{% endblock %}


{% block content %}


<h1>{{ thisvehicle.vehnumber }} {{ thisvehicle.name }}</h1>
  
<p>vehicle Number: {{ thisvehicle.vehnumber }}</p>
<p>vehicle Name: {{ thisvehicle.name }}</p>
<p>Vehicle ID: {{ thisvehicle.vehicle_id }}</p>
<p>Vehicle: {{ thisvehicle.vehicle }}</p>
<p>Size: {{ thisvehicle.size }}</p>
<p>Year: {{ thisvehicle.year }}</p>
<p>Cost: ${{ thisvehicle.cost }}</p>
<p>Yearly Range: {{ thisvehicle.yearly_range_km }} km</p>
<p>Distance: {{ thisvehicle.distance }}</p>

<a href="/update/{{ thisvehicle.id }}">Update the entry</a></p>

<a href="/deletesub/{{ thisvehicle.id }}"> Delete this entry</a></p>

<HR>
<p>Back to <a href="/vehicles">vehicle List</a></p>

{% endblock %}