{% extends "mastertemplate.html" %}

{% block title %}
    Create a new Fleet Demand for {{ organization.org_name }}
{% endblock %}

{% block content %}
    <h1>Create a new Fleet Demand for {{ organization.org_name }}</h1>
    <form action="{% url 'fleet_demand_createsub' organization.id %}" method="post">
        {% csrf_token %}
        <input type="number" name="year" placeholder="Year" required>
        <input type="text" name="size" placeholder="Size" required>
        <input type="text" name="distance" placeholder="Distance" required>
        <input type="number" name="demand" placeholder="Demand (km)" required>
        <input type="submit" value="Create">
    </form>

    <hr>
    <a href="{% url 'fleet_demand_list' organization.id %}">Back to Fleet Demand List</a>
{% endblock %}
