{% extends "mastertemplate.html" %}

{% block title %}
    Update Fleet Demand for {{ fleet_demand.organization.org_name }}
{% endblock %}

{% block content %}
    <h1>Update Fleet Demand for {{ fleet_demand.organization.org_name }}</h1>
    <form action="{% url 'fleet_demand_updatesub' fleet_demand.id %}" method="post">
        {% csrf_token %}
        <input type="number" name="year" value="{{ fleet_demand.year }}" required>
        <input type="text" name="size" value="{{ fleet_demand.size }}" required>
        <input type="text" name="distance" value="{{ fleet_demand.distance }}" required>
        <input type="number" name="demand" value="{{ fleet_demand.demand }}" required>
        <input type="submit" value="Update">
    </form>

    <hr>
    <a href="{% url 'fleet_demand_list' fleet_demand.organization.id %}">Back to Fleet Demand List</a>
{% endblock %}
