{% extends "mastertemplate.html" %}

{% block title %}
  Organization Details
{% endblock %}

{% block content %}
  <h1>{{ organization.org_name }}</h1>

  <table border="1" style="border-collapse: collapse;">
    <thead>
      <tr>
        <th>Fuel</th>
        <th>Number</th>
      </tr>
    </thead>
    <tbody>
      {% for fuel in fuel_counts %}
      <tr>
        <td>{{ fuel.fuel__fuel_type }} ({{fuel.fuel__year}})</td>
        <td>{{ fuel.vehicle_count }}</td>
      </tr>
      {% endfor %}
    </tbody>
  </table>

  <p>Expense: <b>{{ total_expense }}</b> , Income: <b>{{ total_income }}</b></p>
  
  <p>Organization Name: {{ organization.org_name }}</p>
  <p>Organization Contact Email: {{ organization.org_contact_email }}</p>

  <a href="/org_update/{{ organization.id }}">Update the entry</a></p>
  <a href="/org_deletesub/{{ organization.id }}">Delete this entry</a></p>
  <p><a href="{% url 'transactionslist' organization.id %}">View Transactions</a></p>
  <hr>
  <p>Back to <a href="/organization">Organization List</a></p>
{% endblock %}
