{% extends "mastertemplate.html" %}

{% block title %}
  Update the details of {{ organization.org_name }}
{% endblock %}

{% block content %}
  <h1>Update the details of {{ organization.org_name }}</h1>
  <form action="/org_updatesub/{{ organization.id }}" method="post">
    {% csrf_token %}
    <input type="text" name="org_name" id="org_name" value="{{ organization.org_name }}">
    <input type="email" name="org_contact_email" id="org_contact_email" value="{{ organization.org_contact_email }}">
    <input type="submit" value="Update">
  </form>

  <hr>
  <p>Back to <a href="/organization">Organization List</a></p>
{% endblock %}
