{% extends "mastertemplate.html" %}

{% block title %}
  List of all organizations
{% endblock %}

{% block content %}
  <h1>Organization List</h1>

  {% if organization_list.all %}
  <table border="1" style="border-collapse: collapse;">
    <thead>
      <th>Name</th><th>Contact Email</th><th>More</th>
    </thead>
    {% for org in organization_list %}
      <tr>
        <td>{{ org.org_name }}</td>
        <td>{{ org.org_contact_email }}</td>
        <td>
          <a href="org_details/{{ org.id }}">Details</a> 
          | <a href="{% url 'parkinglots' org.id %}">Parking Lots</a> 
          | <a href="{% url 'warehouseinventory_list' org.id %}">Warehouse Inventories</a>
          | <a href="{% url 'emission_target_list' org.id %}">Emission Target</a>
          | <a href="{% url 'fleet_demand_list' org.id %}">Fleet Demands</a>
          | <a href="{% url 'depots' org.id %}">Depots</a>
          | <a href="{% url 'vehicles_list' org.id %}">Vehicles List</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    Please click on the link below to add an organization <br>
  {% endif %}
  
  <hr>
  <a href="org_create">Add a new organization</a>
{% endblock %}