{% extends "mastertemplate.html" %}

{% block title %}
  Add a new Parking Lot for {{ organization.org_name }}
{% endblock %}

{% block content %}
  <h1>Create a new Parking Lot for {{ organization.org_name }}</h1>
  <form action="{% url 'parkinglot_createsub' organization.id %}" method="post">
    {% csrf_token %}
    <input type="text" name="name" id="name" placeholder="Parking Lot Name">
    <input type="text" name="address" id="address" placeholder="Parking Lot Address">
    <input type="submit" value="Create">
  </form>

  <hr>
  <p>Back to <a href="{% url 'parkinglots' organization.id %}">Parking Lots List</a></p>
{% endblock %}
