{% extends "mastertemplate.html" %}

{% block title %}
  List of Parking Lots for {{ organization.org_name }}
{% endblock %}

{% block content %}
  <h1>Parking Lots for {{ organization.org_name }}</h1>
  
  {% if parkinglot_list %}
  <table border style="border-collapse: collapse; border: 1px solid black;">
    <thead>
      <th>Name</th><th>Address</th><th>Actions</th>
    </thead>
    {% for parkinglot in parkinglot_list %}
      <tr>
        <td>{{ parkinglot.name }}</td>
        <td>{{ parkinglot.address }}</td>
        <td>
          <a href="{% url 'parkinglot_update' organization.id parkinglot.id %}">Update</a> 
          | <a href="{% url 'parkinglot_deletesub' organization.id parkinglot.id %}">Delete</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    No parking lots found. Please add a new parking lot.
  {% endif %}
  
  <hr>
  <p><a href="{% url 'parkinglot_create' organization.id %}">Add a new parking lot</a></p>
  <p>Back to <a href="{% url 'organization' %}">Organization List</a></p>
{% endblock %}
