{% extends "mastertemplate.html" %}

{% block title %}
  List of Vehicles for {{ organization.org_name }}
{% endblock %}

{% block content %}
  <h1>Vehicles List for {{ organization.org_name }}</h1>
  
  {% if vehicles_with_rounded_age  %}
  <table border="1" style="border-collapse: collapse;">
    <thead>
        <th>Warehouse</th><th>Vehicle</th><th>Date of Purchase</th><th>Cost of Purchase</th><th>VIN Number</th><th>Age</th><th>Status</th><th>Maintenance Cost</th><th>Insurance Cost</th><th>Resale Value</th><th>Depot</th><th>More</th>
    </thead>
    {% for entry in vehicles_with_rounded_age %}
      <tr>
        <td>{{ entry.vehicle.warehouse.name }}</td>
        <td>{{ entry.vehicle.vehicle.name }}</td>
        <td>{{ entry.vehicle.date_of_purchase }}</td>
        <td>{{ entry.vehicle.cost_of_purchase }}</td>
        <td>{{ entry.vehicle.vin_number }}</td>
        <td>{{ entry.rounded_age }}</td>
        <td>{{ entry.vehicle.status }}</td>
        <td>{{ entry.vehicle.maintenance_cost }}</td>
        <td>{{ entry.vehicle.insurance_cost }}</td>
        <td>{{ entry.vehicle.resale_value }}</td>
        <td>{{ entry.vehicle.depot.name }}</td>
        <td>
          <a href="{% url 'vehicles_list_details' organization.id entry.vehicle.id  %}">Details</a>
        </td>
      </tr>
    {% endfor %}
  </table>
  {% else %}
    No vehicles found. Please add a new vehicle.
  {% endif %}
  
  <hr>
  <a href="{% url 'vehicles_list_create' organization.id %}">Add a new vehicle list entry</a>
  <p>Back to <a href="{% url 'organization' %}">Organization List</a></p>
{% endblock %}
