{% extends "mastertemplate.html" %}

{% block title %}
  Update Vehicle Fuel for {{ vehicle_fuel.vehicle_id.vehicle_id }}
{% endblock %}

{% block content %}
    <h1>Update Vehicle Fuel for {{ vehicle_fuel.vehicle_id.vehicle_id }}</h1>
    <form action="{% url 'vehicle_fuel_updatesub' vehicle_fuel.id %}" method="post">
        {% csrf_token %}
        <p>
            <label for="vehicle_id">ID:</label>
            <select name="vehicle_id" id="vehicle_id">
                {% for vehicle  in vehicles  %}
                    <option value="{{ vehicle.id }}" {% if vehicle.id == vehicle_fuel.vehicle_id.id %}selected{% endif %}>{{ vehicle.vehicle_id }}</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="fuel">Fuel:</label>
            <select name="fuel" id="fuel">
                {% for fuel in fuels %}
                    <option value="{{ fuel.id }}" {% if fuel.id == vehicle_fuel.fuel.id %}selected{% endif %}>{{ fuel.fuel_type }} ({{ fuel.year }})</option>
                {% endfor %}
            </select>
        </p>
        <p>
            <label for="consumption_per_km">Consumption per km:</label>
            <input type="text" name="consumption_per_km" id="consumption_per_km" value="{{ vehicle_fuel.consumption_per_km }}">
        </p>
        <button type="submit">Update</button>
    </form>

    <hr>
    <p>Back to <a href="/vehicle_fuels">Vehicle Fuel List</a></p>
{% endblock %}